/* Icons from directory "" */

.icon-arrow,
.icon-arrow\:regular {
    background-image: url('icons/icons.png');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-arrow-dims {
    width: 32px;
    height: 32px
}

.icon-hamb,
.icon-hamb\:regular {
    background-image: url('icons/icons.png');
    background-position: 0 -32px;
    background-repeat: no-repeat
}

.icon-hamb-dims {
    width: 32px;
    height: 32px
}

.icon-logout,
.icon-logout\:regular {
    background-image: url('icons/icons.png');
    background-position: 0 -64px;
    background-repeat: no-repeat
}

.icon-logout-dims {
    width: 20px;
    height: 20px
}

.icon-paperclip,
.icon-paperclip\:regular {
    background-image: url('icons/icons.png');
    background-position: 0 -84px;
    background-repeat: no-repeat
}

.icon-paperclip-dims {
    width: 19px;
    height: 20px
}

.icon-search,
.icon-search\:regular {
    background-image: url('icons/icons.png');
    background-position: 0 -104px;
    background-repeat: no-repeat
}

.icon-search-dims {
    width: 20px;
    height: 20px
}